## Settings file was created by plugin Blue Archive Playermodels v2.0.0
## Plugin GUID: jos.BAModels

[Dynamic Bone Settings]

Update rate = 60

Disable physics at range = false

Distance to disable physics = 20

[Suits to Replace Settings]

## Enable to replace default orange suit with JTF Mob-Chan
# Setting type: Boolean
# Default value: true
Replace default orange suit with JTF Mob-Chan = true

Replace Orange Suit to JTF = true

